<ul class="ideas">
  <% if @ideas.empty? %>
    <li>
      <h1>Add an idea!</h1>
    </li>
  <% else %>
    <% @ideas.each do |idea| %>
      <li>
        <h1><%= idea.title %></h1>
        <h2><%= idea.body %></h2>
        <h3><%= idea.quality %></h3>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render partial: "partials/form" %>
